.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.long-url-input-section {
  border: 1px solid var(--assets-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  padding: var(--padding-m) 0;
  background-color: var(--second-color);

  max-width: 800px;
}

.long-url-input-section h1 {
  margin: 0;
}

.long-url-input-section p {
  font-size: var(--font-size-b);
}

@media (max-width: 700px) {
  .long-url-input-section h1 {
    font-size: var(--font-size-m);
  }

  .long-url-input-section p,
  p {
    font-size: var(--font-size-s);
  }
}

@media (max-width: 500px) {
  .long-url-input-section h1 {
    font-size: var(--font-size-m);
  }

  .long-url-input-section p,
  p {
    font-size: var(--font-size-mobile-m);
  }
}
