.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--padding-2xs) 0;
  height: var(--height-2xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-color);
}

.copyright {
  justify-content: flex-start;
}

.social-media {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.social-media a {
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer a {
  display: inline-block;
}

.footer a:hover {
  color: var(--assets-color);
}

.footer a.translateLeft:hover {
  animation: hoverLeftEffect 0.3s forwards;
}

.footer a.translateRight:hover {
  animation: hoverRightEffect 0.3s forwards;
}

@keyframes hoverRightEffect {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(10deg);
  }
}

@keyframes hoverLeftEffect {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(-10deg);
  }
}
